<section id="docByTime">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" class="active"><a href="#/doc/byTime/">By Time</a></li>
                    <li role="presentation"><a href="#/doc/byTags/">By Tags</a></li>
                </ul>
                <form name="myForm" class="form-inline">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="control-group">
                            <div class="form-group controls">
                                <label for="start">From: </label>
                            </div>
                            <div class="form-group floating-label-form-group controls">
                                <label>Start date</label>
                                <input ng-model="startDate" type="date" class="form-control" id="start" required data-validation-required-message="Please specify start date.">
                            </div>
                            <div class="form-group controls">
                                <label for="end">To: </label>
                            </div>
                            <div class="form-group floating-label-form-group controls">
                                <label>End date</label>
                                <input ng-model="endDate" type="date" class="form-control" id="end" required data-validation-required-message="Please specify end date.">
                            </div>
                            <div ng-if="hasUser" class="form-group">
                                <input type="checkbox" ng-model="ownDoc.value"> Find my own doc only
                            </div>
                            <div class="form-group">
                                <button ng-click="search()" class="btn btn-primary pull-right btn-block">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div ng-if="!hasDoc()" class="jumbotron col-lg-12">
                    <h2>No doc available, yet!</h2>
                </div>
                <div ng-if="hasDoc()" ng-repeat="doc in docList" class="jumbotron col-lg-6">
                    <h3>{{doc.title}}</h3>
                    <p>{{doc.snapShot}}</p>
                    <p>{{ doc.date | date:'medium' }}</p>
                    <p><a ng-href="#/profile/{{doc.userId}}">{{doc.username}}</a></p>
                    <p><a class="btn btn-primary btn-lg" ng-href="#/doc/detail/{{doc._id}}" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
</section>